{% extends "base.html" %}
{% block titulo %}Reserva confirmada{% endblock %}
{% block contenido %}
{% for aviso in get_flashed_messages() %}<p class="exito">{{ aviso }}</p>{% endfor %}
<h1>Todo listo, {{ reserva.nombre }}</h1>
<dl>
    <dt>Servicio</dt><dd>{{ reserva.servicio_nombre }}</dd>
    <dt>Fecha</dt><dd>{{ reserva.fecha }}</dd>
    <dt>Modalidad</dt><dd>{{ reserva.modalidad|capitalize }}</dd>
    <dt>Correo</dt><dd>{{ reserva.correo }}</dd>
</dl>
<a href="{{ url_for('reservar') }}">Crear otra reserva</a>
{% endblock %}
