<!doctype html>
<html lang="es">
<head><meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1"><title>{% block titulo %}Career Studio{% endblock %}</title>{% load static %}<link rel="stylesheet" href="{% static 'core/estilos.css' %}"></head>
<body><nav><a href="{% url 'inicio' %}">Reservar</a><a href="{% url 'reservas' %}">Agenda</a></nav><main>{% for mensaje in messages %}<p>{{ mensaje }}</p>{% endfor %}{% block contenido %}{% endblock %}</main></body>
</html>

